[fltsim.0]
title=BAvMM_A320_BAW_G-EUUS
model=IAE
sim=FAIB_A320
texture=BAW_EUUS
atc_airline=Speedbird
atc_heavy=0
atc_parking_codes=BAW
atc_parking_types=GATE
ui_manufacturer=Airbus
ui_type=A320
ui_variation=British Airways

[fltsim.1]
title=BAvMM_A320_BAW_G-EUYV
model=IAE_S
sim=FAIB_A320
texture=BAW_EUYV
atc_airline=Speedbird
atc_heavy=0
atc_parking_codes=BAW
atc_parking_types=GATE
ui_manufacturer=Airbus
ui_type=A320
ui_variation=British Airways

[fltsim.2]
title=BAvMM_A320_BAW_G-EUUC
model=IAE
sim=FAIB_A320
texture=BAW_EUUC
atc_airline=Speedbird
atc_heavy=0
atc_parking_codes=BAW
atc_parking_types=GATE
ui_manufacturer=Airbus
ui_type=A320
ui_variation=British Airways

[fltsim.3]
title=BAvMM_A320_BAW_G-GATJ
model=IAE
sim=FAIB_A320
texture=BAW_GATJ
atc_airline=Speedbird
atc_heavy=0
atc_parking_codes=BAW
atc_parking_types=GATE
ui_manufacturer=Airbus
ui_type=A320
ui_variation=British Airways

[General]
atc_type=AIRBUS
atc_model=A320
editable=0
performance=
Category = airplane

[LIGHTS]
//Types: 1=beacon, 2=strobe, 3=navigation, 4=cockpit, 5=landing
// FAIB A320 Lights
//light.0 = 1,  5.998,   0.00, -5.835, fx_FAIB_A320_beacon
//light.1 = 1,  3.718,   0.00, 8.5, fx_FAIB_A320_beacon
//light.2 = 2, -69.63,   0.00,  4.645, fx_FAIB_A320_strobe
//light.3 = 3, -69.63,   0.00,  4.645, fx_FAIB_A320_navwhi
//light.4 = 2, -14.023, -55.505,  2.871, fx_FAIB_A320_strobe
//light.5 = 2, -14.023,  55.505,  2.871, fx_FAIB_A320_strobe
//light.6 = 3, -13.5, -55.151,  2.852, fx_FAIB_A320_navred
//light.7 = 3, -13.5,  55.151,  2.852, fx_FAIB_A320_navgre
//If you have Shockwave lights you can enable them by removing the "//" from the beginings of the next lines
//light.8 = 5, 0.09, -7.01, -3.778, fx_shockwave_landing_light_narrow // shockwave landing light
//light.9 = 5, 0.09, 7.01, -3.778, fx_shockwave_landing_light_narrow // shockwave landing light
//light.10 = 5, 37.319, -0.71, -5.463, fx_shockwave_landing_light_narrow // shockwave landing light
//light.11 = 6, 37.319, 0.706, -5.463, fx_shockwave_landing_light_narrow // shockwave taxi light

[exits]
//FAIB A320 Exits
number_of_exits =2
exit.0 = 0.4,  37.654, -6.137,  3.203, 0   //openclose rate percent per second, longitudinal, lateral, vertical positions from datum (feet), type (0=Main 1=Cargo 2=Emergency)
exit.1 = 0.4, -20.214,  5.152, -2.523, 1   //openclose rate percent per second, longitudinal, lateral, vertical positions from datum (feet), type (0=Main 1=Cargo 2=Emergency)

[contact_points]
//FAIB A320 contact pooints
static_pitch = -0.2
static_cg_height = 11.84
tailwheel_lock = 0
gear_system_type=1
max_number_of_points = 8

point.0=1,  37.505,   0.00,  -12.088, 1600, 0, 1.263, 55.92, 0.42, 2.5, 0.9, 4.0, 4.0, 0, 220.0, 250.0
point.1=1, -4.171, -12.657, -12.771, 1600, 1, 2.051,  0.00, 0.973, 1.428, 0.9, 6.9, 6.9, 2, 220.0, 250.0
point.2=1, -4.171,  12.657, -12.771, 1600, 2, 2.051,  0.00, 0.973, 1.428, 0.9, 7.1, 7.1, 3, 220.0, 250.0
point.3=2, -19.00, -55.00,  4.00,  1000, 0, 0.000,  0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 5, 0.0, 0.0
point.4=2, -19.00,  55.00,  4.00,  1000, 0, 0.000,  0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 6, 0.0, 0.0
point.5=2, -51.00,   0.00, -2.00,  1000, 0, 0.000,  0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 9, 0.0, 0.0
point.6=2,  54.00,   0.00, -2.00,  1000, 0, 0.000,  0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 4, 0.0, 0.0
point.7=2, -75.00,   0.00, 31.00,  1000, 0, 0.000,  0.00, 0.0, 0.0, 0.0, 0.0, 0.0, 9, 0.0, 0.0

[pitot_static]
vertical_speed_time_constant = 1                //Increasing this value will cause a more instantaneous reaction in the VSI
pitot_heat = 1.0    //Scalar on heat effectiveness, 0 = not available

[WEIGHT_AND_BALANCE]
max_gross_weight = 150000
empty_weight = 80000

reference_datum_position     =  0, 0, 0         // (feet) distance from FlightSim Reference position: (1/4 chord, centerline, waterline)
empty_weight_CG_position     = 0, 0, 0         // (feet) longitudinal, lateral, vertical distance from specified datum

max_number_of_stations = 50

;Moments of Inertia
empty_weight_pitch_MOI   = 1600655
empty_weight_roll_MOI    =  588050
empty_weight_yaw_MOI     = 2148751
empty_weight_coupled_MOI = 0

[flight_tuning]
cruise_lift_scalar     = 1.0
parasite_drag_scalar   = 1.0
induced_drag_scalar    = 1.0
elevator_effectiveness = 1.0
aileron_effectiveness  = 1.0
rudder_effectiveness   = 1.0
pitch_stability        = 1.0
roll_stability         = 1.0
yaw_stability          = 1.0
elevator_trim_effectiveness = 1.0
aileron_trim_effectiveness  = 1.0
rudder_trim_effectiveness   = 1.0

[GeneralEngineData]
engine_type = 1                                 //0=Piston, 1=Jet, 2=None, 3=Helo-Turbine, 4=Rocket, 5=Turboprop
Engine.0 = 4.683, -19.1, -5.12                    //(feet) longitudinal, lateral, vertical distance from reference datum
Engine.1 = 4.683,  19.1, -5.12                    //(feet) longitudinal, lateral, vertical distance from reference datum
fuel_flow_scalar = 1                            //Scalar for fuel flow efficiency
min_throttle_limit = -0.0                      //Minimum percent throttle.  Generally negative for turbine reverser
max_contrail_temperature = -30                  //Temperature (deg C) below which contrails may appear

[TurbineEngineData]
fuel_flow_gain = 0.002                          //Gain on fuel flow
inlet_area = 19.6                               //Square Feet, engine nacelle inlet area
rated_N2_rpm = 29920                            //RPM, second stage compressor rated value
static_thrust = 24200                           //Lbs, max rated static thrust at Sea Level
afterburner_available = 0                       //Afterburner available?
reverser_available = 1                          //Thrust reverser available?
ThrustSpecificFuelConsumption = 0.6             //Thrust specific fuel consumption (Jets)


[jet_engine]
thrust_scalar = 1.0

[electrical]
max_battery_voltage = 24.0
generator_alternator_voltage = 30.0
max_generator_alternator_amps = 400.0

[gear_warning_system]
gear_warning_available = 1    //Normal
pct_throttle_limit =  0.1     //Percent throttle that activates warning
flap_limit_idle    =  5.0     //Flap angle that activates warning at idle
flap_limit_power   = 25.5     //Flap angle that activates warning at above idle

[brakes]
parking_brake = 1         //Parking brake available
toe_brakes_scale = 0.6  //Brake scalar
auto_brakes = 4
hydraulic_system_scalar = 1  //On brakes dependant on the hydraulic system, ratio hyd system to max brake hyd pressure

[hydraulic_system]
normal_pressure = 3000.0    //PSI
electric_pumps  = 1         //electric pump
engine_map      = 1,1,0,0   //pumps on Eng1,2

[Views]
eyepoint = 48.2, -1.55, 1.9   //(feet) longitudinal, lateral, vertical distance from reference datum

[flaps.0]       //Trailing Edge Flaps
type             = 1                                    // 1 - tail, 2 - lead
span-outboard    = 0.8                                  // 0.0 .. 1.0
extending-time   = 20                                   // seconds
flaps-position.0 = 0                                    // degrees
flaps-position.1 = 1                                    // degrees
flaps-position.2 = 2                                    // degrees
flaps-position.3 = 5                                    // degrees
flaps-position.4 = 10                                   // degrees
flaps-position.5 = 15                                   // degrees
flaps-position.6 = 25                                   // degrees
flaps-position.7 = 30                                   // degrees
flaps-position.8 = 40                                   // degrees
damaging-speed   = 250                                  // KIAS
blowout-speed    = 300                                  // KIAS
lift_scalar = 1.0
drag_scalar = 1.0
pitch_scalar= 1.0
system_type = 1                                         //Hydraulic

[flaps.1]       //Inboard Leading Edge Flaps
type             = 2                                    // 1 - tail, 2 - lead
span-outboard    = 0.8                                  // 0.0 .. 1.0
extending-time   = 2                                    // seconds
flaps-position.0 = 0                                    //
flaps-position.1 = 1.0                                  //
damaging-speed   = 250                                  // KIAS
blowout-speed    = 300                                  // KIAS
lift_scalar = 1.0
drag_scalar = 1.0
pitch_scalar= 1.0
system_type = 1                                         //Hydraulic


[flaps.2]       //Outboard Leading Edge Slat
type             = 2                                    // 1 - tail, 2 - lead
span-outboard    = 0.8                                  // 0.0 .. 1.0
extending-time   = 3                                    // seconds
flaps-position.0 = 0                                    //
flaps-position.1 = 0.5                                  //
flaps-position.4 = 1.0                                  //
damaging-speed   = 250                                  // KIAS
blowout-speed    = 300                                  // KIAS
lift_scalar = 1.0
drag_scalar = 1.0
pitch_scalar= 1.0
system_type = 1                                         //Hydraulic

[Radios]
// Radio Type = availiable, standby frequency, has glide slope
Audio.1       = 1
Com.1         = 1, 1
Com.2         = 1, 1
Nav.1         = 1, 1, 1
Nav.2         = 1, 1, 0
Adf.1         = 1
Transponder.1 = 1
Marker.1      = 1


[keyboard_response]
//Breakpoint speeds (knots) on the keyboard increments of control surfaces.
//Speed at which the incremenet is reduced to  1/2 and 1/8 respectively.
elevator = 150, 250
aileron  = 150, 250
rudder   = 150, 250

[direction_indicators]
//1 Type: 0=None, 1=Vacuum Gyro, 2=Electric Gyro, 3=Electro-Mag Slaved Compass, 4=Slaved to another
//2 Indicator number of slaving indicator if Type = 4
direction_indicator.0=3,0
direction_indicator.1=3,0

[altimeters]
altimeter.0=1

[airspeed_indicators]
airspeed_indicator.0=1

[attitude_indicators]
//Type: 0=None, 1=Vacuum Gyro, 2=Electric Gyro
attitude_indicator.0 = 2

[turn_indicators]
//Type: 0=None, 1=Electric Gyro, 2= Vacuum Gyro
turn_indicator.0=0,0

[vacuum_system]
max_pressure=5.15   // PSI
vacuum_type=2       //Type: 0=None, 1=Engine pump (default), 2=Pneumatic, 3=Venturi

[pneumatic_system]
max_pressure=18.000000
bleed_air_scalar=1.000000

[EFFECTS]
wake=fx_wake
water=fx_spray
dirt=fx_tchdrt
concrete=fx_sparks
touchdown=fx_tchdwn, 1

[autopilot]
autopilot_available=1
flight_director_available=1
default_vertical_speed=1800
autothrottle_available=1
autothrottle_arming_required=1
autothrottle_max_rpm = 90
autothrottle_takeoff_ga=1
pitch_takeoff_ga = 8;
max_pitch=10.0
max_pitch_acceleration=1.0
max_pitch_velocity_lo_alt=2.0
max_pitch_velocity_hi_alt=1.5
max_pitch_velocity_lo_alt_breakpoint=20000.0
max_pitch_velocity_hi_alt_breakpoint=28000.0
max_bank=30,25,20,15,10
max_bank_acceleration=1.8
max_bank_velocity=3.00
max_throttle_rate=0.10
nav_proportional_control=12.00
nav_integrator_control=0.25
nav_derivative_control=0.00
nav_integrator_boundary=2.50
nav_derivative_boundary=0.00
gs_proportional_control=25.0
gs_integrator_control=0.53
gs_derivative_control=0.00
gs_integrator_boundary=0.70
gs_derivative_boundary=0.00
yaw_damper_gain = 1.0
yaw_slip_control_gain=0.000000
yaw_control_uses_trim=0.000000

[fuel]
Center1   = -5.9,   0.0, -3.2, 50, 0          //Longitudinal (feet), Lateral (feet), Vertical (feet), Usable(gallons), Unusable (gallons)
LeftMain  = -9.7, -17.2, -3.2, 50, 0          //Longitudinal (feet), Lateral (feet), Vertical (feet), Usable(gallons), Unusable (gallons)
RightMain = -9.7,  17.2, -3.2, 50, 0          //Longitudinal (feet), Lateral (feet), Vertical (feet), Usable(gallons), Unusable (gallons)
fuel_type = 2                                   //Fuel type: 1 = Avgas, 2 = JetA
number_of_tank_selectors = 1
electric_pump=1
fuel_dump_rate = 0.0167                        //Percent of max quantity per second, i.e. about 1 minute for full fuel

[airplane_geometry]
wing_area               = 1300.0                //Square feet
wing_span               = 112.0                //Feet
wing_root_chord         = 20.0                  //Feet
wing_dihedral           = 6.2                   //Degrees
wing_incidence          = 1.0                   //Degrees
wing_twist              = -0.5                  //Degrees
oswald_efficiency_factor= 0.75                  //Measure of lift effeciency of wing
wing_winglets_flag      = 0                     //Are winglets available?
wing_sweep              = 25.0                  //Degrees, wing leading edge
wing_pos_apex_lon       = 13.0                  //Feet, longitudinal distance from reference point, negative going aft
wing_pos_apex_vert      = -2.0                  //Feet, vertical distance from reference point, positive going up

htail_area              = 373.6                 //Square feet
htail_span              = 41.7                  //Feet
htail_pos_lon           = -57.0                 //Feet, longitudinal distance from reference point, negative going aft
htail_pos_vert          = 5.0                   //Feet, vertical distance from reference point, positive going up
htail_incidence         = 0.0                   //Degrees
htail_sweep             = 33.0                  //Degrees, horizontal tail leading edge

vtail_area              = 224.0                 //Square feet
vtail_span              = 20.5                  //Feet, tip to body
vtail_sweep             = 40.0                  //Degrees, vertical tail leading edge
vtail_pos_lon           = -50.0                 //Feet, longitudinal distance from reference point, negative going aft
vtail_pos_vert          = 7                  //Feet, vertical distance from reference point, positive going up

elevator_area           = 70.5                  //Square feet
aileron_area            = 26.9                  //Square feet
rudder_area             = 56.2                  //Square feet
elevator_up_limit       = 22.5                  //Degrees
elevator_down_limit     = 19.5                  //Degrees
aileron_up_limit        = 20.0                  //Degrees
aileron_down_limit      = 20.0                  //Degrees
rudder_limit            = 26.0                  //Degrees
elevator_trim_limit     = 20.0                  //Degrees
spoiler_limit           = 30.0                  //Degrees
spoiler_extension_time  = 2.0			//Seconds
spoilerons_available    = 1                     //Spoilerons Available?
aileron_to_spoileron_gain = 3                   //Aileron to spoileron gain
min_ailerons_for_spoilerons = 10                //Degrees
min_flaps_for_spoilerons = 0                    //Minimum flap handle position when spoilerons activate
auto_spoiler_available   = 1
positive_g_limit_flaps_up  =  4.0               //Design G load tolerance (positive, flaps up)
positive_g_limit_flaps_down=  3.0               //Design G load tolerance (positive, flaps down)
negative_g_limit_flaps_up  = -3.0               //Design G load tolerance (negative, flaps up)
negative_g_limit_flaps_down= -2.0               //Design G load tolerance (negative, flaps down)
load_safety_factor         =  1.5               //Design G load safety factor

[Reference Speeds]
flaps_up_stall_speed    = 142.0                 //Knots True (KTAS)
full_flaps_stall_speed  = 113.0                 //Knots True (KTAS)
cruise_speed            = 477.0                 //Knots True (KTAS)
max_mach                = 0.82
max_indicated_speed     = 340                   //Red line (KIAS)

[stall_warning]
type=2
stick_shaker=1

[deice_system]
structural_deice_type=1     //0 = None, 1 = Heated Leading Edge, 2 = Bleed Air Boots, 3 = Eng Pump Boots

[GPWS]
max_warning_height         =  1000
sink_rate_fpm              = -1500
excessive_sink_rate_fpm    = -2000
climbout_sink_rate_fpm     = -100
flap_and_gear_sink_rate_fpm= -100
