[fltsim.0]
title=BAvMM_B732_BAW_G-BGDL
sim=FAIB_7372
model=normal
texture=BAW_BGDL
atc_id=G-BGDL
atc_airline=Speedbird
atc_flight_number=123
ui_manufacturer=Boeing
ui_type=B737-200
ui_variation=British Airways
atc_parking_types=GATE
atc_parking_codes=BAW

[General]
atc_type=BOEING
atc_model=B732
editable=0
performance=

Category = airplane

[pitot_static]
vertical_speed_time_constant = 1                //Increasing this value will cause a more instantaneous reaction in the VSI
pitot_heat = 1.0    //Scalar on heat effectiveness, 0 = not available

[WEIGHT_AND_BALANCE]
max_gross_weight = 128100                      // (pounds)
empty_weight = 69800                           // (pounds)

reference_datum_position     =  0, 0, 0         // (feet) distance from FlightSim Reference position: (1/4 chord, centerline, waterline)
empty_weight_CG_position     = 0, 0, 0         // (feet) longitudinal, lateral, vertical distance from specified datum

max_number_of_stations = 50

station_load.0 =   170.0,  46.3, -1.5,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)
station_load.1 =   170.0,  46.3,  1.5,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)
station_load.2 =   510.0,   0.0,  0.0,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)
station_load.3 =  1360.0,  33.4,  0.0,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)
station_load.4 =  5440.0,  16.1,  0.0,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)
station_load.5 =  5440.0,  -9.7,  0.0,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)
station_load.6 =  4760.0, -28.0,  0.0,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)
station_load.7 =  4000.0,  24.7,  0.0,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)
station_load.8 =  1000.0, -34.4,  0.0,	0.0    //Weight (lbs), longitudinal, lateral, vertical positions from datum (feet)

station_name.0 = "Pilot"
station_name.1 = "Co-Pilot"
station_name.2 = "Crew"
station_name.3 = "First Class"
station_name.4 = "Coach 3-10"
station_name.5 = "Coach 11-18"
station_name.6 = "Coach 19-25"
station_name.7 = "Forward Baggage"
station_name.8 = "Aft Baggage"

;Moments of Inertia
empty_weight_pitch_MOI   = 1600655
empty_weight_roll_MOI    =  588050
empty_weight_yaw_MOI     = 2148751
empty_weight_coupled_MOI = 0

[flight_tuning]
cruise_lift_scalar     = 1.0
parasite_drag_scalar   = 1.0
induced_drag_scalar    = 1.0
elevator_effectiveness = 1.0
aileron_effectiveness  = 1.0
rudder_effectiveness   = 1.0
pitch_stability        = 1.0
roll_stability         = 1.0
yaw_stability          = 1.0
elevator_trim_effectiveness = 1.0
aileron_trim_effectiveness  = 1.0
rudder_trim_effectiveness   = 1.0

[GeneralEngineData]
engine_type = 1                                 //0=Piston, 1=Jet, 2=None, 3=Helo-Turbine, 4=Rocket, 5=Turboprop
Engine.0 = 0, -16.1, -3.2                    //(feet) longitudinal, lateral, vertical distance from reference datum
Engine.1 = 0,  16.1, -3.2                    //(feet) longitudinal, lateral, vertical distance from reference datum
fuel_flow_scalar = 1                            //Scalar for fuel flow efficiency
min_throttle_limit = -0.25                      //Minimum percent throttle.  Generally negative for turbine reverser
max_contrail_temperature = -30                  //Temperature (deg C) below which contrails may appear

[TurbineEngineData]
fuel_flow_gain = 0.002                          //Gain on fuel flow
inlet_area = 19.6                               //Square Feet, engine nacelle inlet area
rated_N2_rpm = 29920                            //RPM, second stage compressor rated value
static_thrust = 24200                           //Lbs, max rated static thrust at Sea Level
afterburner_available = 0                       //Afterburner available?
reverser_available = 1                          //Thrust reverser available?
ThrustSpecificFuelConsumption = 0.6             //Thrust specific fuel consumption (Jets)


[jet_engine]
thrust_scalar = 1.0

[electrical]
max_battery_voltage = 24.0
generator_alternator_voltage = 30.0
max_generator_alternator_amps = 400.0



        //0  Class                        <0=none,1=wheel, 2=scrape, 3=float>
        //1  Longitudinal Position        (feet)
        //2  Lateral Position             (feet)
        //3  Vertical Position            (feet)
        //4  Impact Damage Threshold      (Feet Per Minute)
        //5  Brake Map                    (0=None, 1=Left, 2=Right)
        //6  Wheel Radius                 (feet)
        //7  Steer Angle                  (degrees)
        //8  Static Compression           (feet)  (0 if rigid)
        //9  Max/Static Compression Ratio
        //10 Damping Ratio                (0=Undamped, 1=Critically Damped)
        //11 Extension Time               (seconds)
        //12 Retraction Time              (seconds)
        //13 Sound Type
        //14 Airspeed limit for retraction     (KIAS)
        //15 Airspeed that gear gets damage at (KIAS)

[contact_points]
static_pitch = -1.0
static_cg_height = 7.8
tailwheel_lock = 0
max_number_of_points = 21
gear_system_type=1      //Hydraulic

point.0 = 1, 28.392, 0, -7.370, 1000, 0, 1.2, 55.92, 0.72506, 1.1, 0.5, 4, 4, 0, 220, 250
point.1 = 1, -8.346, -8.6, -8.37, 1000, 1, 1.6, 0, 0.72506, 0.9, 0.6, 6.9, 6.9, 2, 220, 250
point.2 = 1, -8.346, 8.6, -8.37, 1000, 2, 1.6, 0, 0.72506, 0.9, 0.6, 7.1, 7.1, 3, 220, 250
point.3 = 2, -14.17, -47.33, 4, 787.4, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0
point.4 = 2, -14.17, 47.33, 4, 787.4, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0
point.5 = 2, -57.1645, 0, 4.3495, 787.4, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0, 0
point.6 = 2, 48.1729, 0, 1.9119, 787.4, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0


[lights]

//Types: 1=beacon, 2=strobe, 3=navigation, 4=cockpit, 5=landing

light.0 = 1, 0.79, 0, 9.8, fx_beacon
light.1 = 1, 4.472, 0, -3.924, fx_beacon
light.2 = 2, -54.85, 0, 7.54, fx_strobe
light.3 = 3, -22.625, -45.992, 2.997, fx_navwhi
light.4 = 3, -22.625, 45.992, 2.997, fx_navwhi
light.5 = 3, -19.163, -46.52, 3.063, fx_navred
light.6 = 2, -18.271, -46.463, 3.063, fx_strobe
light.7 = 2, -18.271, 46.463, 3.063, fx_strobe
light.8 = 3, -19.163, 46.52, 3.063, fx_navgre
//If you have Shockwave lights you can enable them by removing the "//" from the beginings of the next lines
//light.9 = 5, 5.656, -7.569, -0.272, fx_shockwave_landing_light_narrow // shockwave landing light
//light.10 = 5, 5.656, 7.569, -0.272, fx_shockwave_landing_light_narrow // shockwave landing light
//light.11 = 5, -15.655, -28.55, -0.416, fx_shockwave_landing_light_narrow // shockwave landing light
//light.12 = 5, -15.655, 28.55, -0.416, fx_shockwave_landing_light_narrow // shockwave landing light
//light.13 =6, 29.07, 0.0, -5.025, fx_shockwave_landing_light_narrow // shockwave taxi light

[gear_warning_system]
gear_warning_available = 1    //Normal
pct_throttle_limit =  0.1     //Percent throttle that activates warning
flap_limit_idle    =  5.0     //Flap angle that activates warning at idle
flap_limit_power   = 25.5     //Flap angle that activates warning at above idle

[brakes]
parking_brake = 1         //Parking brake available
toe_brakes_scale = 0.885  //Brake scalar
auto_brakes = 4
hydraulic_system_scalar = 1  //On brakes dependant on the hydraulic system, ratio hyd system to max brake hyd pressure

[hydraulic_system]
normal_pressure = 3000.0    //PSI
electric_pumps  = 1         //electric pump
engine_map      = 1,1,0,0   //pumps on Eng1,2

[Views]
eyepoint = 48.2, -1.55, 1.9   //(feet) longitudinal, lateral, vertical distance from reference datum

[flaps.0]       //Trailing Edge Flaps
type             = 1                                    // 1 - tail, 2 - lead
span-outboard    = 0.8                                  // 0.0 .. 1.0
extending-time   = 20                                   // seconds
flaps-position.0 = 0                                    // degrees
flaps-position.1 = 1                                    // degrees
flaps-position.2 = 2                                    // degrees
flaps-position.3 = 5                                    // degrees
flaps-position.4 = 10                                   // degrees
flaps-position.5 = 15                                   // degrees
flaps-position.6 = 25                                   // degrees
flaps-position.7 = 30                                   // degrees
flaps-position.8 = 40                                   // degrees
damaging-speed   = 250                                  // KIAS
blowout-speed    = 300                                  // KIAS
lift_scalar = 1.0
drag_scalar = 1.0
pitch_scalar= 1.0
system_type = 1                                         //Hydraulic

[flaps.1]       //Inboard Leading Edge Flaps
type             = 2                                    // 1 - tail, 2 - lead
span-outboard    = 0.8                                  // 0.0 .. 1.0
extending-time   = 2                                    // seconds
flaps-position.0 = 0                                    //
flaps-position.1 = 1.0                                  //
damaging-speed   = 250                                  // KIAS
blowout-speed    = 300                                  // KIAS
lift_scalar = 1.0
drag_scalar = 1.0
pitch_scalar= 1.0
system_type = 1                                         //Hydraulic


[flaps.2]       //Outboard Leading Edge Slat
type             = 2                                    // 1 - tail, 2 - lead
span-outboard    = 0.8                                  // 0.0 .. 1.0
extending-time   = 3                                    // seconds
flaps-position.0 = 0                                    //
flaps-position.1 = 0.5                                  //
flaps-position.4 = 1.0                                  //
damaging-speed   = 250                                  // KIAS
blowout-speed    = 300                                  // KIAS
lift_scalar = 1.0
drag_scalar = 1.0
pitch_scalar= 1.0
system_type = 1                                         //Hydraulic

[Radios]
// Radio Type = availiable, standby frequency, has glide slope
Audio.1       = 1
Com.1         = 1, 1
Com.2         = 1, 1
Nav.1         = 1, 1, 1
Nav.2         = 1, 1, 0
Adf.1         = 1
Transponder.1 = 1
Marker.1      = 1


[keyboard_response]
//Breakpoint speeds (knots) on the keyboard increments of control surfaces.
//Speed at which the incremenet is reduced to  1/2 and 1/8 respectively.
elevator = 150, 250
aileron  = 150, 250
rudder   = 150, 250

[direction_indicators]
//1 Type: 0=None, 1=Vacuum Gyro, 2=Electric Gyro, 3=Electro-Mag Slaved Compass, 4=Slaved to another
//2 Indicator number of slaving indicator if Type = 4
direction_indicator.0=3,0
direction_indicator.1=3,0

[altimeters]
altimeter.0=1

[airspeed_indicators]
airspeed_indicator.0=1

[attitude_indicators]
//Type: 0=None, 1=Vacuum Gyro, 2=Electric Gyro
attitude_indicator.0 = 2

[turn_indicators]
//Type: 0=None, 1=Electric Gyro, 2= Vacuum Gyro
turn_indicator.0=0,0

[vacuum_system]
max_pressure=5.15   // PSI
vacuum_type=2       //Type: 0=None, 1=Engine pump (default), 2=Pneumatic, 3=Venturi

[pneumatic_system]
max_pressure=18.000000
bleed_air_scalar=1.000000

[exits]
number_of_exits =2
exit.0 = 0.4,  24.852, -4.883,  4.493, 0   //openclose rate percent per second, longitudinal, lateral, vertical positions from datum (feet), type (0=Main 1=Cargo 2=Emergency)
exit.1 = 0.4, -22.966,  4.757, -1.454, 1   //openclose rate percent per second, longitudinal, lateral, vertical positions from datum (feet), type (0=Main 1=Cargo 2=Emergency)

[EFFECTS]
wake=fx_wake
water=fx_spray
dirt=fx_tchdrt
concrete=fx_sparks
touchdown=fx_tchdwn, 1

[autopilot]
autopilot_available=1
flight_director_available=1
default_vertical_speed=1800
autothrottle_available=1
autothrottle_arming_required=1
autothrottle_max_rpm = 90
autothrottle_takeoff_ga=1
pitch_takeoff_ga = 8;
max_pitch=10.0
max_pitch_acceleration=1.0
max_pitch_velocity_lo_alt=2.0
max_pitch_velocity_hi_alt=1.5
max_pitch_velocity_lo_alt_breakpoint=20000.0
max_pitch_velocity_hi_alt_breakpoint=28000.0
max_bank=30,25,20,15,10
max_bank_acceleration=1.8
max_bank_velocity=3.00
max_throttle_rate=0.10
nav_proportional_control=12.00
nav_integrator_control=0.25
nav_derivative_control=0.00
nav_integrator_boundary=2.50
nav_derivative_boundary=0.00
gs_proportional_control=25.0
gs_integrator_control=0.53
gs_derivative_control=0.00
gs_integrator_boundary=0.70
gs_derivative_boundary=0.00
yaw_damper_gain = 1.0
yaw_slip_control_gain=0.000000
yaw_control_uses_trim=0.000000

[fuel]
Center1   = -5.9,   0.0, -3.2, 4299, 0          //Longitudinal (feet), Lateral (feet), Vertical (feet), Usable(gallons), Unusable (gallons)
LeftMain  = -9.7, -17.2, -3.2, 1288, 0          //Longitudinal (feet), Lateral (feet), Vertical (feet), Usable(gallons), Unusable (gallons)
RightMain = -9.7,  17.2, -3.2, 1288, 0          //Longitudinal (feet), Lateral (feet), Vertical (feet), Usable(gallons), Unusable (gallons)
fuel_type = 2                                   //Fuel type: 1 = Avgas, 2 = JetA
number_of_tank_selectors = 1
electric_pump=1
fuel_dump_rate = 0.0167                        //Percent of max quantity per second, i.e. about 1 minute for full fuel

[airplane_geometry]
wing_area               = 1344.0                //Square feet
wing_span               = 93.0                //Feet
wing_root_chord         = 21.0                  //Feet
wing_dihedral           = 5.5                   //Degrees
wing_incidence          = 1.0                   //Degrees
wing_twist              = -0.5                  //Degrees
oswald_efficiency_factor= 0.75                  //Measure of lift effeciency of wing
wing_winglets_flag      = 0                     //Are winglets available?
wing_sweep              = 27.2                  //Degrees, wing leading edge
wing_pos_apex_lon       = 6.96                  //Feet, longitudinal distance from reference point, negative going aft
wing_pos_apex_vert      = -3.8                  //Feet, vertical distance from reference point, positive going up

htail_area              = 373.6                 //Square feet
htail_span              = 47.1                  //Feet
htail_pos_lon           = -63.5                 //Feet, longitudinal distance from reference point, negative going aft
htail_pos_vert          = 5.4                   //Feet, vertical distance from reference point, positive going up
htail_incidence         = 0.0                   //Degrees
htail_sweep             = 38.2                  //Degrees, horizontal tail leading edge

vtail_area              = 323.0                 //Square feet
vtail_span              = 27.0                  //Feet, tip to body
vtail_sweep             = 36.3                  //Degrees, vertical tail leading edge
vtail_pos_lon           = -56.0                 //Feet, longitudinal distance from reference point, negative going aft
vtail_pos_vert          = 12.9                  //Feet, vertical distance from reference point, positive going up

elevator_area           = 70.5                  //Square feet
aileron_area            = 26.9                  //Square feet
rudder_area             = 56.2                  //Square feet
elevator_up_limit       = 22.5                  //Degrees
elevator_down_limit     = 19.5                  //Degrees
aileron_up_limit        = 20.0                  //Degrees
aileron_down_limit      = 20.0                  //Degrees
rudder_limit            = 26.0                  //Degrees
elevator_trim_limit     = 20.0                  //Degrees
spoiler_limit           = 30.0                  //Degrees
spoiler_extension_time  = 2.0			//Seconds
spoilerons_available    = 1                     //Spoilerons Available?
aileron_to_spoileron_gain = 3                   //Aileron to spoileron gain
min_ailerons_for_spoilerons = 10                //Degrees
min_flaps_for_spoilerons = 0                    //Minimum flap handle position when spoilerons activate
auto_spoiler_available   = 1
positive_g_limit_flaps_up  =  4.0               //Design G load tolerance (positive, flaps up)
positive_g_limit_flaps_down=  3.0               //Design G load tolerance (positive, flaps down)
negative_g_limit_flaps_up  = -3.0               //Design G load tolerance (negative, flaps up)
negative_g_limit_flaps_down= -2.0               //Design G load tolerance (negative, flaps down)
load_safety_factor         =  1.5               //Design G load safety factor

[Reference Speeds]
flaps_up_stall_speed    = 142.0                 //Knots True (KTAS)
full_flaps_stall_speed  = 113.0                 //Knots True (KTAS)
cruise_speed            = 477.0                 //Knots True (KTAS)
max_mach                = 0.82
max_indicated_speed     = 340                   //Red line (KIAS)

[stall_warning]
type=2
stick_shaker=1

[deice_system]
structural_deice_type=1     //0 = None, 1 = Heated Leading Edge, 2 = Bleed Air Boots, 3 = Eng Pump Boots

[GPWS]
max_warning_height         =  1000
sink_rate_fpm              = -1500
excessive_sink_rate_fpm    = -2000
climbout_sink_rate_fpm     = -100
flap_and_gear_sink_rate_fpm= -100
